<!DOCTYPE html>
<html lang="en">

<head>
    <title>home</title>
    <%- include("./header") %>
        <style>
            /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); */
            
            .card {
                width: 300px;
                border-radius: 10px
            }
            
            .card-img-top {
                border-top-right-radius: 10px;
                border-top-left-radius: 10px
            }
            
            span.text-muted {
                font-size: 12px
            }
            
            small.text-muted {
                font-size: 8px
            }
            
            h5.mb-0 {
                font-size: 1rem
            }
            
            small.ghj {
                font-size: 9px
            }
            
            .mid {
                background: #ECEDF1
            }
            
            h6.ml-1 {
                font-size: 13px
            }
            
            small.key {
                text-decoration: underline;
                font-size: 9px;
                cursor: pointer
            }
            
            .btn-danger {
                color: #FFCBD2
            }
            
            .btn-danger:focus {
                box-shadow: none
            }
            
            small.justify-content-center {
                font-size: 9px;
                cursor: pointer;
                text-decoration: underline
            }
            
            @media screen and (max-width:600px) {
                .col-sm-4 {
                    margin-bottom: 50px
                }
            }
        </style>
</head>

<% if (ModeBG  == 'dark'){%>

    <body background="/images/dark-mode.jpg">
        <%}else{%>

            <body>
                <%}%>

                    <%- include("./menu") %>
                        <div class="container" style="margin-top:60px">
                            <div class="row">
                                <%- include("./content_left") %>
                                    <div class="col-sm-8">
                                        <br>

                                        <div class="container-fluid d-flex justify-content-center">
                                            <div class="row mt-2">
                                                <% if(list_user_follow.length){ 
                                 for(var i = 0;i < list_user_follow.length;i++) { %>
                                                    <div class="col-sm-6 mt-2">
                                                        <div class="card">
                                                            <a href="/info/personel/<%= list_user_follow[i].ID %>">
                                                                <% if(list_user_follow[i].Avatar != '') { %>
                                                                    <img src="<%= list_user_follow[i].Avatar%>" alt="" width="100" height="100" class="rounded-circle">
                                                                    <% }else {
                                                         if(list_user_follow[i].Gender == 1) {%>
                                                                        <img src="/images/male-avatar.png" alt="" width="100" height="100" class="rounded-circle">
                                                                        <% } else{%>
                                                                            <img src="/images/female-avatar.jpg" alt="" width="100" height="100" class="rounded-circle">
                                                                            <% }}%>
                                                                                <span><%= list_user_follow[i].Name %></span>
                                                            </a>
                                                            <div class="card-body pt-0 px-0">
                                                                <div class="d-flex flex-row justify-content-between mb-0 px-3"> <small class="text-muted mt-1"><%= list_user_follow[i].mobile %></small>
                                                                    <h6>
                                                                        <% if(list_user_follow[i].Gender == 0) {%>
                                                                            Female
                                                                            <% }else{ %>
                                                                                Male
                                                                                <%}%>
                                                                    </h6>
                                                                </div>
                                                                <hr class="mt-2 mx-3">
                                                                <div class="d-flex flex-row justify-content-between px-3 pb-4">
                                                                    <div class="d-flex flex-column text-center text-dark">
                                                                        <h5 class="mb-0">
                                                                            <%= list_user_follow[i].Email %>
                                                                        </h5>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex flex-row justify-content-between px-3 pb-4">
                                                                    <div class="d-flex flex-column text-center text-dark">
                                                                        <h5 class="mb-0">
                                                                            0
                                                                            <%= list_user_follow[i].Mobile %>
                                                                        </h5>
                                                                    </div>

                                                                </div>
                                                                <div class="d-flex flex-row justify-content-between px-3 pb-4">
                                                                    <div class="d-flex flex-column text-dark">
                                                                        <h5 class="mb-0">
                                                                            <small>
                                                                            <%= list_user_follow[i].Country%>
                                                                        </small>
                                                                        </h5>
                                                                    </div>
                                                                </div>
                                                                <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#viewimage<%= list_user_follow[i].ID%>"><small>INFOMATION</small></button>
                                                                <div class="modal" id="viewimage<%= list_user_follow[i].ID%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                    <div class="modal-dialog" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title text-info" id="exampleModalLabel">Infomation</h5>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                          </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                                                                    <div class="modal-body">
                                                                                        <span><a href="/info/personel/<%= list_user_follow[i].ID %>"><%= list_user_follow[i].Name%></a></span> has followed your at
                                                                                        <%= list_user_follow[i].DateFllow%>
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% }
                                 }else{ %>
                                                        <p class="text-center text-primary">Not found.</p>
                                                        <% } %>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <%- include("./footer") %>
            </body>

</html>