<!DOCTYPE html>
<html lang="en">

<head>
    <title>home</title>
    <%- include("./header") %>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<% if (ModeBG  == 'dark'){%>

    <body background="/images/dark-mode.jpg">
        <%}else{%>

            <body>
                <%}%>

                    <%- include("./menu") %>
                        <div class="container" style="margin-top:90px">
                            <div class="row">
                                <div class="container">

                                    <!-- Page header end -->

                                    <!-- Content wrapper start -->
                                    <div class="content-wrapper">

                                        <!-- Row start -->
                                        <div class="row gutters">

                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                                                <div class="card m-0">

                                                    <!-- Row start -->
                                                    <div class="row no-gutters">
                                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                                                            <div class="users-container">
                                                                <div class="chat-search-box">
                                                                    <div class="input-group">
                                                                        <input class="form-control">
                                                                        <div class="input-group-btn">
                                                                            <button type="button" class="btn btn-info">
                                                <i class="fa fa-search"></i>
                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <ul class="users">
                                                                    <% if(mess.length){ 
                                                        for(var i = mess.length-1;i >=0  ;i--) { %>
                                                                        <li class="person" data-chat="person1">
                                                                            <a href="/mess_of_user/<%= mess[i].ID%>">
                                                                                <div class="user">
                                                                                    <% if(mess[i].Avatar != ""){%>
                                                                                        <img src="<%= mess[i].Avatar%>" alt="Retail Admin">
                                                                                        <%}else{
                                                                        if(mess[i].Gender == 0){%>
                                                                                            <img src="/images/female-avatar.jpg" alt="Retail Admin">
                                                                                            <%}else{%>
                                                                                                <img src="/images/male-avatar.png" alt="Retail Admin">
                                                                                                <%}}%>
                                                                                                    <% if(mess[i].Status == 0){%>
                                                                                                        <span class="status busy "></span>
                                                                                                        <%}else {%>
                                                                                                            <span class="status online "></span>
                                                                                                            <% }%>
                                                                                </div>
                                                                                <p class="name-time ">
                                                                                    <span class="name "><%= mess[i].Name%></span>
                                                                                </p>
                                                                            </a>
                                                                        </li>
                                                                        <% }
                                                       } else{ %>
                                                                            <p>Not found message</p>
                                                                            <% }; %>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9 ">
                                                            <div class="selected-user ">
                                                                Send message to: <span class="name text-danger">  
                                                <% if(mess_user.length){ 
                                                 if (mess_user[0].IdUserSend != avatar_home.ID) {%>
                                                    <%= mess_user[0].Name%>
                                                     (<a href="/message/read-all/<%= mess_user[0].IdUserSend%>">see all message</a>)
                                                <% }else {%>
                                                    <%= mess_user[1].Name%>
                                                     (<a href="/message/read-all/<%= mess_user[1].IdUserSend%>">see all message</a>)
                                                    <%}}%>
                                                
                                            </div>
                                            <div class="chat-container ">
                                                <ul class="chat-box chatContainerScroll ">
                                                    <% if(mess_user.length){ 
                                                       var array_mess1 = [];
                                                     if(mess_user.length > 5){
                                                        array_mess1 = mess_user.slice(mess_user.length - 5, mess_user.length);
                                                    }else {
                                                        array_mess1 = mess_user
                                                    }
                                                            for(var i = 0;i < array_mess1.length ;i++) { %>
                                                        <% if (array_mess1[i].IdUserSend != avatar_home.ID) {%>
                                                            <li class="chat-left ">
                                                                <div class="chat-avatar ">
                                                                    <% if(array_mess1[i].Avatar != ""){%>
                                                                        <img src="<%= array_mess1[i].Avatar%>" alt="Retail Admin">
                                                                        <%}else{
                                                                             if(array_mess1[i].Gender == 0){%>
                                                                            <img src="/images/female-avatar.jpg" alt="Retail Admin">
                                                                            <%}else{%>
                                                                                <img src="/images/male-avatar.png" alt="Retail Admin">
                                                                                <%}}%>
                                                                                    <div class="chat-name ">
                                                                                        <%= array_mess1[i].Name%>
                                                                                    </div>
                                                                </div>
                                                                <div class="chat-text ">
                                                                    <%= array_mess1[i].ContentMess%>
                                                                </div>
                                                                <div class="chat-hour">
                                                                    <%= (array_mess1[i].DateMess).slice(0,11)%><span class="fa fa-check-circle "></span></div>
                                                            </li>
                                                            <% } else{%>
                                                                <li class="chat-right ">

                                                                    <div class="chat-text ">
                                                                        <%= array_mess1[i].ContentMess%>
                                                                            <br>
                                                                            <div class="chat-hour ">
                                                                                <%= (array_mess1[i].DateMess).slice(0,11)%><span class="fa fa-check-circle "></span></div>
                                                                    </div>
                                                                    <div class="chat-avatar ">
                                                                        <% if(array_mess1[i].Avatar != ""){%>
                                                                            <img src="<%= array_mess1[i].Avatar%>" alt="Retail Admin">
                                                                            <%}else{
                                                                             if(array_mess1[i].Gender == 0){%>
                                                                                <img src="/images/female-avatar.jpg" alt="Retail Admin">
                                                                                <%}else{%>
                                                                                    <img src="/images/male-avatar.png" alt="Retail Admin">
                                                                                    <%}}%>
                                                                                        <div class="chat-name ">
                                                                                            <%= array_mess1[i].Name%>
                                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <% } %>
                                                                    <%}
                                                       } else{ %>
                                                                        <p>Not found message</p>
                                                                        <% }; %>
                                                                            </ul>
                                                                            <form action="/reply_message" method="POST">
                                                                                <div class="form-group mt-3 mb-0 ">
                                                                                    <% if(mess_user.length){ 
                                                         if (mess_user[0].IdUserSend != avatar_home.ID) {%>
                                                                                        <input type="text" name="id_get" value="<%= mess_user[0].IdUserSend%>" style="display: none;">
                                                                                        <% }else {%>
                                                                                            <input type="text" id="return_form_mess<%= mess_user[0].IdUserSend%>" name="id_get" value="<%= mess_user[1].IdUserSend%>" style="display: none;">
                                                                                            <%}}%>
                                                                                                <textarea class="form-control" name="content_mess" rows="3 " placeholder="Type your message here... "></textarea><br>
                                                                                                <button type="submit" class="btn btn-outline-primary float-right w-100">Send message</button><br><br>
                                                                                </div>
                                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Row end -->
                                            </div>

                                        </div>

                                    </div>
                                    <!-- Row end -->

                                </div>
                                <!-- Content wrapper end -->

                            </div>
                        </div>
                        </div>
                        <%- include("./footer")%>
            </body>

</html>